In [215]:
import pandas as pd
import statistics
from scipy.stats import zscore

In [217]:
data = pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [219]:
column_name = "Annual Income (k$)"

In [221]:
values = data[column_name].tolist()

In [223]:
mean = statistics.mean(values)
std_dev = statistics.stdev(values)

In [225]:
z_scores = [(x - mean) / std_dev for x in values]

In [237]:
threshold = 2.5 
outliers = [values[i] for i in range(len(values)) if abs(z_scores[i]) > threshold]

In [239]:
print(f"Mean: {mean:.2f}")
print(f"Standard Deviation: {std_dev:.2f}")
print(f"Z-score Threshold: {threshold}")
print(f"Outliers (Z-score > {threshold}): {outliers}")

Mean: 60.56
Standard Deviation: 26.26
Z-score Threshold: 2.5
Outliers (Z-score > 2.5): [137, 137]