In [52]:
import pandas as pd 
import statistics

In [74]:
data=pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [88]:
colname="Annual Income (k$)"
print(colname)

Annual Income (k$)

In [96]:
val=data[colname].tolist()

In [106]:
mean=data["Annual Income (k$)"].mean()
mean

60.56

In [108]:
std=data["Annual Income (k$)"].std()
std

26.264721165271254

In [119]:
x=values
z_score= [(X-mean)/std for X in values]
print("z_score:",z_score[:5])

z_score: [-1.7346462470822683, -1.7346462470822683, -1.6965723610620254, -1.6965723610620254, -1.6584984750417824]