In [52]:
import pandas as pd 
import statistics

In [74]:
data=pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [88]:
colname="Annual Income (k$)"
print(colname)

Annual Income (k$)

In [96]:
val=data[colname].tolist()

In [98]:
val

[15,
 15,
 16,
 16,
 17,
 17,
 18,
 18,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 21,
 21,
 23,
 23,
 24,
 24,
 25,
 25,
 28,
 28,
 28,
 28,
 29,
 29,
 30,
 30,
 33,
 33,
 33,
 33,
 34,
 34,
 37,
 37,
 38,
 38,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 42,
 42,
 43,
 43,
 43,
 43,
 44,
 44,
 46,
 46,
 46,
 46,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 50,
 50,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 57,
 57,
 58,
 58,
 59,
 59,
 60,
 60,
 60,
 60,
 60,
 60,
 61,
 61,
 62,
 62,
 62,
 62,
 62,
 62,
 63,
 63,
 63,
 63,
 63,
 63,
 64,
 64,
 65,
 65,
 65,
 65,
 67,
 67,
 67,
 67,
 69,
 69,
 70,
 70,
 71,
 71,
 71,
 71,
 71,
 71,
 72,
 72,
 73,
 73,
 73,
 73,
 74,
 74,
 75,
 75,
 76,
 76,
 77,
 77,
 77,
 77,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 78,
 79,
 79,
 81,
 81,
 85,
 85,
 86,
 86,
 87,
 87,
 87,
 87,
 87,
 87,
 88,
 88,
 88,
 88,
 93,
 93,
 97,
 97,
 98,
 98,
 99,
 99,
 101,
 101,
 103,
 103,
 103,
 103,
 113,
 113,
 120,
 120,
 126,
 126,
 137,
 137]

In [106]:
mean=data["Annual Income (k$)"].mean()
mean

60.56

In [108]:
std=data["Annual Income (k$)"].std()
std

26.264721165271254

In [125]:
within_1sigma = [x for x in values if mean - std <= x <= mean + std]
within_2sigma = [x for x in values if mean - 2*std <= x <= mean + 2*std]
within_3sigma = [x for x in values if mean - 3*std <= x <= mean + 3*std]

In [129]:
print(f"Mean: {mean:.2f}")
print(f"Standard Deviation: {std:.2f}")
print(f"Within 1σ: {len(within_1sigma)} values (~68%)")
print(f"Within 2σ: {len(within_2sigma)} values (~95%)")
print(f"Within 3σ: {len(within_3sigma)} values (~99.7%)")

Mean: 60.56
Standard Deviation: 26.26
Within 1σ: 130 values (~68%)
Within 2σ: 194 values (~95%)
Within 3σ: 200 values (~99.7%)